<head>
      <style>
          #MThread{
            margin:1em auto;
            width:56.69em;
            padding:0 .62em;
            font:1.2em/1.62em sans-serif;
            background-color: #f9f9f9;
         }
       </style>
</head>
  <img src=<%= @article.URL %>>
<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Text:</strong>
  <%= @truncate%>
</p>
<p>
  <strong>Post Number:</strong>
  <%= @article.id %>
</p>

<h2>Comments</h2>
<% @article.comments.each do |comment| %>
  <p>
    <strong>Comment:</strong>
    <%= comment.body %>
  </p>
<% end %>

<%= form_for([@article, @article.comments.build]) do |f| %>
  <p>
  <%= f.label :body %><br>Add Comment</br>
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>


<%= link_to 'Back', articles_path %>
